In [2]:
import pandas as pd
import numpy as np
from sklearn import datasets

/DataScience/safonkin/PycharmProjects/venv/lib/python3.7/site-packages/sklearn/feature_extraction/image.py:167: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype=np.int):

In [17]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [18]:
data = pd.DataFrame([
            ['16-10-2021 23:56:10', 'A', 'a1', '0001', np.random.randint(100)], 
            ['16-10-2021 23:58:30', 'A', 'a1', '0002', np.random.randint(100)],
            ['16-10-2021 23:58:35', 'B', 'b1', '0003', np.random.randint(100)],
            ['16-10-2021 23:58:56', 'B', 'b2', '0004', np.random.randint(100)],
            ['16-10-2021 23:59:21', 'C', 'c1', '0005', np.random.randint(100)],
            ['16-10-2021 23:59:42', 'C', 'c1', '0006', np.random.randint(100)],

            ['17-10-2021 00:03:05', 'A', 'a1', '0007', np.random.randint(100)],
            ['17-10-2021 00:03:25', 'A', 'a2', '0008', np.random.randint(100)],
            ['17-10-2021 00:03:48', 'A', 'a3', '0009', np.random.randint(100)],
            ['17-10-2021 00:05:24', 'B', 'b1', '0010', np.random.randint(100)],
            ['17-10-2021 00:05:36', 'B', 'b1', '0011', np.random.randint(100)],
            ['17-10-2021 00:05:44', 'B', 'b2', '0012', np.random.randint(100)],
            ['17-10-2021 00:06:03', 'B', 'b2', '0013', np.random.randint(100)],
            ['17-10-2021 03:12:13', 'B', 'b3', '0014', np.random.randint(100)],
            ['17-10-2021 03:12:46', 'C', 'c1', '0015', np.random.randint(100)],
            ['17-10-2021 13:06:54', 'C', 'c1', '0016', np.random.randint(100)], 
            ['17-10-2021 13:12:10', 'C', 'c2', '0017', np.random.randint(100)], 
            ['17-10-2021 19:48:30', 'C', 'c2', '0018', np.random.randint(100)], 

            ['18-10-2021 00:06:05', 'C', 'c1', '0019', np.random.randint(100)], 
            ['18-10-2021 03:08:03', 'C', 'c2', '0020', np.random.randint(100)],
            ['18-10-2021 12:07:08', 'C', 'c3', '0021', np.random.randint(100)],
    
            ['19-10-2021 00:04:03', 'A', 'a1', '0022', np.random.randint(100)], 
            ['19-10-2021 02:08:20', 'A', 'a2', '0023', np.random.randint(100)],
            ['19-10-2021 10:03:08', 'B', 'a2', '0024', np.random.randint(100)],
            ['19-10-2021 12:07:08', 'B', 'b1', '0025', np.random.randint(100)],
    
], columns=['datetime_str','group_col', 'sub_group_col','val_id', 'value'])

data.head()

          datetime_str group_col sub_group_col val_id  value
0  16-10-2021 23:56:10         A            a1   0001     93
1  16-10-2021 23:58:30         A            a1   0002     78
2  16-10-2021 23:58:35         B            b1   0003     22
3  16-10-2021 23:58:56         B            b2   0004     12
4  16-10-2021 23:59:21         C            c1   0005     49

In [43]:
query = """
SELECT
    group_col,
    sub_group_col,
    max(value) OVER (PARTITION BY sub_group_col ORDER BY sub_group_col)  AS max_value
FROM
    data
LIMIT 5
"""

query = """
SELECT 
    group_col || " - " || sub_group_col AS concat
FROM 
    data 
LIMIT 5
"""

In [44]:
from pandasql import sqldf

pysqldf = lambda q: sqldf(q, globals())
pysqldf(query)

   concat
0  A - a1
1  A - a1
2  B - b1
3  B - b2
4  C - c1

## Функции обработки строк