# Настройка ноутбука

In [4]:
import pandas as pd
import numpy as np
from sklearn import datasets
import datetime as dt

from pandasql import sqldf

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

# Описание

Сводная таблица - это отличный способ представления данных в разрезе нескольких категий. В этом ноутбуке представлены практики построения сводных таблиц с помощью языка SQL.

# Практики

In [7]:
data = pd.DataFrame({
    'date': [
        dt.date(2022, 8, 1), dt.date(2022, 8, 1), dt.date(2022, 8, 1),
        dt.date(2022, 8, 2), dt.date(2022, 8, 2), dt.date(2022, 8, 2),
        dt.date(2022, 8, 3), dt.date(2022, 8, 3), dt.date(2022, 8, 3),
    ],
    'cat': [
        'A', 'B', 'C',
        'A', 'B', 'C',
        'A', 'B', 'C',
    ],
    'value': [
        1, 2, 3,
        1, 2, 3,
        1, 2, 3,
    ]
})

data

         date cat  value
0  2022-08-01   A      1
1  2022-08-01   B      2
2  2022-08-01   C      3
3  2022-08-02   A      1
4  2022-08-02   B      2
5  2022-08-02   C      3
6  2022-08-03   A      1
7  2022-08-03   B      2
8  2022-08-03   C      3

## С помощью объединения подзапросов

In [15]:
query = """
select
    a.date, cat_a, cat_b, cat_c
from
              (select date, sum(value) as cat_a from data where cat = 'A' group by date) a
    left join (select date, sum(value) as cat_b from data where cat = 'B' group by date) b on a.date = b.date
    left join (select date, sum(value) as cat_c from data where cat = 'C' group by date) c on b.date = c.date
"""

pysqldf = lambda q: sqldf(q, globals())
pysqldf(query)

         date  cat_a  cat_b  cat_c
0  2022-08-01      1      2      3
1  2022-08-02      1      2      3
2  2022-08-03      1      2      3

## C помощью оператора case

In [14]:
query = """
select
      date
    , sum(case when cat = 'A' then value end) as cat_a
    , sum(case when cat = 'B' then value end) as cat_b
    , sum(case when cat = 'C' then value end) as cat_c
from data
group by date
"""

pysqldf = lambda q: sqldf(q, globals())
pysqldf(query)

         date  cat_a  cat_b  cat_c
0  2022-08-01      1      2      3
1  2022-08-02      1      2      3
2  2022-08-03      1      2      3

#### Примеры задач

- [Stratascratch: Premium vs Freemium - Hard](https://platform.stratascratch.com/coding/10300-premium-vs-freemium?tabname=solutions)