In [2]:
import pandas as pd
import numpy as np

from tqdm.notebook import tqdm

import os

# Считать несколько файлов из папки

#### Решение в лоб

In [13]:
path = 'data/input/'
extension = 'xlsx'

files = []
for file in tqdm([file for file in os.listdir(path) if file.split('.')[1] == extension]):
    print(file)
    file = pd.read_excel(path + file)

    files.append(file)
    
df = pd.concat(files)

  0%|          | 0/3 [00:00<?, ?it/s]

df3.xlsx
df2.xlsx
df1.xlsx

In [ ]:
def read_files(start, end, files_storage, template='dialogs_', extension='feather'):
    
    dates_list = [str(timestamp.date()) for timestamp in pd.date_range(start=start, end=end)]
    files = []
    
    for date in tqdm(dates_list):
        path = f"{files_storage}/{template}{date}.{extension}"
    
        if extension == 'feather':
            file = pd.read_feather(path)
        elif extension == 'csv':
            file = pd.read_csv(path)
        elif extension == 'xlsx':
            file = pd.read_excel(path)
            
        files.append(file)
        
    data = pd.concat(files)
    
    return data

#### Решение с расчетом на использование дат в названии файла

In [ ]:
def read_files(start, end, files_storage, template='dialogs_', extension='feather'):
    
    dates_list = [str(timestamp.date()) for timestamp in pd.date_range(start=start, end=end)]
    files = []
    
    for date in tqdm(dates_list):
        path = f"{files_storage}/{template}{date}.{extension}"
    
        if extension == 'feather':
            file = pd.read_feather(path)
        elif extension == 'csv':
            file = pd.read_csv(path)
        elif extension == 'xlsx':
            file = pd.read_excel(path)
            
        files.append(file)
        
    data = pd.concat(files)
    
    return data

### Как сменить или сбросить header?

In [13]:
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})

df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [14]:
# сбросить header
df.columns = range(df.shape[1])

# определить новый header
df.columns = new_header

df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9