In [4]:
import pandas as pd
import numpy as np
import datetime as dt

import plotly.graph_objects as go

# Генерация данных

In [17]:
data = pd.DataFrame([
            ['16-10-2021', '23:56:10', 'A', 'a1', '0001'], 
            ['16-10-2021', '23:58:30', 'A', 'a1', '0002'],
            ['16-10-2021', '23:58:35', 'B', 'b1', '0003'],
            ['16-10-2021', '23:58:56', 'B', 'b2', '0004'],
            ['16-10-2021', '23:59:21', 'C', 'c1', '0005'],
            ['16-10-2021', '23:59:42', 'C', 'c1', '0006'],

            ['17-10-2021', '00:03:05', 'A', 'a1', '0007'],
            ['17-10-2021', '00:03:25', 'A', 'a2', '0008'],
            ['17-10-2021', '00:03:48', 'A', 'a3', '0009'],
            ['17-10-2021', '00:05:24', 'B', 'b1', '0010'],
            ['17-10-2021', '00:05:36', 'B', 'b1', '0011'],
            ['17-10-2021', '00:05:44', 'B', 'b2', '0012'],
            ['17-10-2021', '00:06:03', 'B', 'b2', '0013'],
            ['17-10-2021', '03:12:13', 'B', 'b3', '0014'],
            ['17-10-2021', '03:12:46', 'C', 'c1', '0015'],
            ['17-10-2021', '13:06:54', 'C', 'c1', '0016'], 
            ['17-10-2021', '13:12:10', 'C', 'c2', '0017'], 
            ['17-10-2021', '19:48:30', 'C', 'c2', '0018'], 

            ['18-10-2021', '00:06:05', 'C', 'c1', '0019'], 
            ['18-10-2021', '03:08:03', 'C', 'c2', '0020'],
            ['18-10-2021', '12:07:08', 'C', 'c3', '0021'],
    
            ['19-10-2021', '00:04:03', 'A', 'a1', '0022'], 
            ['19-10-2021', '02:08:20', 'A', 'a2', '0023'],
            ['19-10-2021', '10:03:08', 'B', 'a2', '0024'],
            ['19-10-2021', '12:07:08', 'B', 'b1', '0025'],
    
], columns=['str_date', 'str_time','group', 'sub_group','val_id'])

data['datetime'] = data.apply(lambda row:  dt.datetime.strptime(f'{row.str_date} {row.str_time}', '%d-%m-%Y %H:%M:%S'), axis=1)

data['date'] = data.datetime.dt.date
data['time'] = data.datetime.dt.time
data['week'] = data.datetime.dt.isocalendar().week # Получить номер недели
data['weekday'] = data.datetime.dt.strftime('%A') # Получить день недели (на английском)


datetime_cols = ['datetime', 'date','time','week','weekday']
group_cols = ['group', 'sub_group']
data = data[[*datetime_cols, *group_cols, 'val_id']]

data

,datetime,date,time,week,weekday,group,sub_group,val_id
0,2021-10-16 23:56:10,2021-10-16,23:56:10,41,Saturday,A,a1,0001
1,2021-10-16 23:58:30,2021-10-16,23:58:30,41,Saturday,A,a1,0002
2,2021-10-16 23:58:35,2021-10-16,23:58:35,41,Saturday,B,b1,0003
3,2021-10-16 23:58:56,2021-10-16,23:58:56,41,Saturday,B,b2,0004
4,2021-10-16 23:59:21,2021-10-16,23:59:21,41,Saturday,C,c1,0005
5,2021-10-16 23:59:42,2021-10-16,23:59:42,41,Saturday,C,c1,0006
6,2021-10-17 00:03:05,2021-10-17,00:03:05,41,Sunday,A,a1,0007
7,2021-10-17 00:03:25,2021-10-17,00:03:25,41,Sunday,A,a2,0008
8,2021-10-17 00:03:48,2021-10-17,00:03:48,41,Sunday,A,a3,0009
9,2021-10-17 00:05:24,2021-10-17,00:05:24,41,Sunday,B,b1,0010
10,2021-10-17 00:05:36,2021-10-17,00:05:36,41,Sunday,B,b1,0011
11,2021-10-17 00:05:44,2021-10-17,00:05:44,41,Sunday,B,b2,0012
12,2021-10-17 00:06:03,2021-10-17,00:06:03,41,Sunday,B,b2,0013
13,2021-10-17 03:12:13,2021-10-17,03:12:13,41,Sunday,B,b3,0014
14,2021-10-17 03:12:46,2021-10-17,03:12:46,41,Sunday,C,c1,0015
15,2021-10-17 13:06:54,2021-10-17,13:06:54,41,Sunday,C,c1,0016
16,2021-10-17 13:12:10,2021-10-17,13:12:10,41,Sunday,C,c2,0017
17,2021-10-17 19:48:30,2021-10-17,19:48:30,41,Sunday,C,c2,0018
18,2021-10-18 00:06:05,2021-10-18,00:06:05,42,Monday,C,c1,0019
19,2021-10-18 03:08:03,2021-10-18,03:08:03,42,Monday,C,c2,0020
20,2021-10-18 12:07:08,2021-10-18,12:07:08,42,Monday,C,c3,0021
21,2021-10-19 00:04:03,2021-10-19,00:04:03,42,Tuesday,A,a1,0022
22,2021-10-19 02:08:20,2021-10-19,02:08:20,42,Tuesday,A,a2,0023
23,2021-10-19 10:03:08,2021-10-19,10:03:08,42,Tuesday,B,a2,0024
24,2021-10-19 12:07:08,2021-10-19,12:07:08,42,Tuesday,B,b1,0025

# Группировки

### Ввести колонку с комбинацие групп в течении дня

In [18]:
add = (
    data
        .groupby('date', as_index=False)
        .apply(lambda day: '_'.join(sorted(day['group'].unique())))
        .rename(columns={None: 'group_combination'})

)

add

         date group_combination
0  2021-10-16             A_B_C
1  2021-10-17             A_B_C
2  2021-10-18                 C
3  2021-10-19               A_B

In [19]:
data = data.merge(add, on='date')
data

,datetime,date,time,week,weekday,group,sub_group,val_id,group_combination
0,2021-10-16 23:56:10,2021-10-16,23:56:10,41,Saturday,A,a1,0001,A_B_C
1,2021-10-16 23:58:30,2021-10-16,23:58:30,41,Saturday,A,a1,0002,A_B_C
2,2021-10-16 23:58:35,2021-10-16,23:58:35,41,Saturday,B,b1,0003,A_B_C
3,2021-10-16 23:58:56,2021-10-16,23:58:56,41,Saturday,B,b2,0004,A_B_C
4,2021-10-16 23:59:21,2021-10-16,23:59:21,41,Saturday,C,c1,0005,A_B_C
5,2021-10-16 23:59:42,2021-10-16,23:59:42,41,Saturday,C,c1,0006,A_B_C
6,2021-10-17 00:03:05,2021-10-17,00:03:05,41,Sunday,A,a1,0007,A_B_C
7,2021-10-17 00:03:25,2021-10-17,00:03:25,41,Sunday,A,a2,0008,A_B_C
8,2021-10-17 00:03:48,2021-10-17,00:03:48,41,Sunday,A,a3,0009,A_B_C
9,2021-10-17 00:05:24,2021-10-17,00:05:24,41,Sunday,B,b1,0010,A_B_C
10,2021-10-17 00:05:36,2021-10-17,00:05:36,41,Sunday,B,b1,0011,A_B_C
11,2021-10-17 00:05:44,2021-10-17,00:05:44,41,Sunday,B,b2,0012,A_B_C
12,2021-10-17 00:06:03,2021-10-17,00:06:03,41,Sunday,B,b2,0013,A_B_C
13,2021-10-17 03:12:13,2021-10-17,03:12:13,41,Sunday,B,b3,0014,A_B_C
14,2021-10-17 03:12:46,2021-10-17,03:12:46,41,Sunday,C,c1,0015,A_B_C
15,2021-10-17 13:06:54,2021-10-17,13:06:54,41,Sunday,C,c1,0016,A_B_C
16,2021-10-17 13:12:10,2021-10-17,13:12:10,41,Sunday,C,c2,0017,A_B_C
17,2021-10-17 19:48:30,2021-10-17,19:48:30,41,Sunday,C,c2,0018,A_B_C
18,2021-10-18 00:06:05,2021-10-18,00:06:05,42,Monday,C,c1,0019,C
19,2021-10-18 03:08:03,2021-10-18,03:08:03,42,Monday,C,c2,0020,C
20,2021-10-18 12:07:08,2021-10-18,12:07:08,42,Monday,C,c3,0021,C
21,2021-10-19 00:04:03,2021-10-19,00:04:03,42,Tuesday,A,a1,0022,A_B
22,2021-10-19 02:08:20,2021-10-19,02:08:20,42,Tuesday,A,a2,0023,A_B
23,2021-10-19 10:03:08,2021-10-19,10:03:08,42,Tuesday,B,a2,0024,A_B
24,2021-10-19 12:07:08,2021-10-19,12:07:08,42,Tuesday,B,b1,0025,A_B

### Посчитать несколько новых колонок

In [20]:
def f(day):
    d = {
        'sub_group_combination': '_'.join(sorted(day['sub_group'].unique())),
        'sub_group_nunique': day['sub_group'].nunique(),
        'val_id_nunique': day['val_id'].nunique(),
    }
    
    return pd.Series(d)
    
add = data.groupby('date', as_index=False).apply(f)
add

         date    sub_group_combination  sub_group_nunique  val_id_nunique
0  2021-10-16              a1_b1_b2_c1                  4               6
1  2021-10-17  a1_a2_a3_b1_b2_b3_c1_c2                  8              12
2  2021-10-18                 c1_c2_c3                  3               3
3  2021-10-19                 a1_a2_b1                  3               4

In [21]:
data = data.merge(add, on='date')
data

,datetime,date,time,week,weekday,group,sub_group,val_id,group_combination,sub_group_combination,sub_group_nunique,val_id_nunique
0,2021-10-16 23:56:10,2021-10-16,23:56:10,41,Saturday,A,a1,0001,A_B_C,a1_b1_b2_c1,4,6
1,2021-10-16 23:58:30,2021-10-16,23:58:30,41,Saturday,A,a1,0002,A_B_C,a1_b1_b2_c1,4,6
2,2021-10-16 23:58:35,2021-10-16,23:58:35,41,Saturday,B,b1,0003,A_B_C,a1_b1_b2_c1,4,6
3,2021-10-16 23:58:56,2021-10-16,23:58:56,41,Saturday,B,b2,0004,A_B_C,a1_b1_b2_c1,4,6
4,2021-10-16 23:59:21,2021-10-16,23:59:21,41,Saturday,C,c1,0005,A_B_C,a1_b1_b2_c1,4,6
5,2021-10-16 23:59:42,2021-10-16,23:59:42,41,Saturday,C,c1,0006,A_B_C,a1_b1_b2_c1,4,6
6,2021-10-17 00:03:05,2021-10-17,00:03:05,41,Sunday,A,a1,0007,A_B_C,a1_a2_a3_b1_b2_b3_c1_c2,8,12
7,2021-10-17 00:03:25,2021-10-17,00:03:25,41,Sunday,A,a2,0008,A_B_C,a1_a2_a3_b1_b2_b3_c1_c2,8,12
8,2021-10-17 00:03:48,2021-10-17,00:03:48,41,Sunday,A,a3,0009,A_B_C,a1_a2_a3_b1_b2_b3_c1_c2,8,12
9,2021-10-17 00:05:24,2021-10-17,00:05:24,41,Sunday,B,b1,0010,A_B_C,a1_a2_a3_b1_b2_b3_c1_c2,8,12
10,2021-10-17 00:05:36,2021-10-17,00:05:36,41,Sunday,B,b1,0011,A_B_C,a1_a2_a3_b1_b2_b3_c1_c2,8,12
11,2021-10-17 00:05:44,2021-10-17,00:05:44,41,Sunday,B,b2,0012,A_B_C,a1_a2_a3_b1_b2_b3_c1_c2,8,12
12,2021-10-17 00:06:03,2021-10-17,00:06:03,41,Sunday,B,b2,0013,A_B_C,a1_a2_a3_b1_b2_b3_c1_c2,8,12
13,2021-10-17 03:12:13,2021-10-17,03:12:13,41,Sunday,B,b3,0014,A_B_C,a1_a2_a3_b1_b2_b3_c1_c2,8,12
14,2021-10-17 03:12:46,2021-10-17,03:12:46,41,Sunday,C,c1,0015,A_B_C,a1_a2_a3_b1_b2_b3_c1_c2,8,12
15,2021-10-17 13:06:54,2021-10-17,13:06:54,41,Sunday,C,c1,0016,A_B_C,a1_a2_a3_b1_b2_b3_c1_c2,8,12
16,2021-10-17 13:12:10,2021-10-17,13:12:10,41,Sunday,C,c2,0017,A_B_C,a1_a2_a3_b1_b2_b3_c1_c2,8,12
17,2021-10-17 19:48:30,2021-10-17,19:48:30,41,Sunday,C,c2,0018,A_B_C,a1_a2_a3_b1_b2_b3_c1_c2,8,12
18,2021-10-18 00:06:05,2021-10-18,00:06:05,42,Monday,C,c1,0019,C,c1_c2_c3,3,3
19,2021-10-18 03:08:03,2021-10-18,03:08:03,42,Monday,C,c2,0020,C,c1_c2_c3,3,3
20,2021-10-18 12:07:08,2021-10-18,12:07:08,42,Monday,C,c3,0021,C,c1_c2_c3,3,3
21,2021-10-19 00:04:03,2021-10-19,00:04:03,42,Tuesday,A,a1,0022,A_B,a1_a2_b1,3,4
22,2021-10-19 02:08:20,2021-10-19,02:08:20,42,Tuesday,A,a2,0023,A_B,a1_a2_b1,3,4
23,2021-10-19 10:03:08,2021-10-19,10:03:08,42,Tuesday,B,a2,0024,A_B,a1_a2_b1,3,4
24,2021-10-19 12:07:08,2021-10-19,12:07:08,42,Tuesday,B,b1,0025,A_B,a1_a2_b1,3,4