In [2]:
import pandas as pd
import numpy as np

### Как разом изменить расположение группы колонок?

In [12]:
df = pd.DataFrame({
    'col1': ['A','B','C'],
    'g1': [1,2,3], 
    'g2': [3,2,1], 
    'g3': [5,6,7],
    'g4': [7,6,5], 
    'gn': [90,80,70], 
    'a1': ['1a','1a','1a'], 
    'a2': ['2a','2a','2a'], 
    'a3': ['3a','3a','3a']
})

df

  col1  g1  g2  g3  g4  gn  a1  a2  a3
0    A   1   3   5   7  90  1a  2a  3a
1    B   2   2   6   6  80  1a  2a  3a
2    C   3   1   7   5  70  1a  2a  3a

#### Способ 1 - ввести новую последовательность целиком

In [13]:
df1 = df[['col1', 'g1', 'g2', 'g3', 'g4', 'gn', 'a1', 'a2', 'a3']]
df1

  col1  g1  g2  g3  g4  gn  a1  a2  a3
0    A   1   3   5   7  90  1a  2a  3a
1    B   2   2   6   6  80  1a  2a  3a
2    C   3   1   7   5  70  1a  2a  3a

##### А что если колонок будет 100 или больше?

#### Способ 2 - спосмощью индексации колонок?

#### Способ 3 - спомощью списка колонок и *

In [14]:
g = [col for col in df.columns if 'g' in col]
a = [col for col in df.columns if 'a' in col]
print(g, a)
df2 = df[['col1', *a, *g]]
df2

['g1', 'g2', 'g3', 'g4', 'gn'] ['a1', 'a2', 'a3']

  col1  a1  a2  a3  g1  g2  g3  g4  gn
0    A  1a  2a  3a   1   3   5   7  90
1    B  1a  2a  3a   2   2   6   6  80
2    C  1a  2a  3a   3   1   7   5  70

### Как добавить несколько колонок одной функцией?

In [7]:
def ex(row):
    a = row.a
    b = row.b
    
    c = a + b
    d = a - b
    e = a > b
    
    return c, d, e

In [8]:
df = pd.DataFrame({
    'a': [1, 2, 3],
    'b': [5, 6, 7]
})
df.head()

   a  b
0  1  5
1  2  6
2  3  7

#### Способ 1 - списки + метод iterrows()

In [15]:
c_list = list()
d_list = list()
e_list = list()

for _, row in df.iterrows():
    c, d, e = ex(row)
    
    c_list.append(c)
    d_list.append(d)
    e_list.append(e)
    
df['c'] = c_list
df['d'] = d_list
df['e'] = e_list

df

   a  b   c  d      e
0  1  5   6 -4  False
1  2  6   8 -4  False
2  3  7  10 -4  False

#### Способ 2 - apply + apply

In [16]:
df = pd.DataFrame({
    'a': [1, 2, 3],
    'b': [5, 6, 7]
})

df[['c','d','e']] = df[['a','b']].apply(ex, axis=1).apply(pd.Series)
df

   a  b   c  d      e
0  1  5   6 -4  False
1  2  6   8 -4  False
2  3  7  10 -4  False