# Настройка ноутбука

In [3]:
import pandas as pd
import numpy as np
import datetime as dt

import plotly.graph_objects as go

In [4]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

# Описание

В процессе работы, у вас может возникнуть необходимость сопоставить два dataframe-а между собой, и найти между ними различия.

# Сопоставление данных

Для этой цели и можно использовать метод **compare**

In [12]:
df1 = pd.DataFrame({
    'col1': ['val1', 'val1', 'val1'],
    'col2': ['val2', 'val2', 'val2'],
    'col3': ['val3', 'val3', 'val3']
})

display(df1)

df2 = pd.DataFrame({
    'col1': ['different_val', 'val1', 'val1'],
    'col2': ['val2', 'different_val', 'val2'],
    'col3': ['val3', 'val3', 'different_val']
})

display(df2)

   col1  col2  col3
0  val1  val2  val3
1  val1  val2  val3
2  val1  val2  val3

            col1           col2           col3
0  different_val           val2           val3
1           val1  different_val           val3
2           val1           val2  different_val

In [13]:
compare = df1.compare(df2)
compare

   col1                 col2                 col3
   self          other  self          other  self          other
0  val1  different_val   NaN            NaN   NaN            NaN
1   NaN            NaN  val2  different_val   NaN            NaN
2   NaN            NaN   NaN            NaN  val3  different_val

```python
col = 'col1'
df = compare

fig = go.Figure(data=[
    go.Scatter(x=df.index, y=df[col]['self'], name=f"{col} - self"),
    go.Scatter(x=df.index, y=df[col]['other'], name=f"{col} - other"),
])
fig.update_layout(width=1100,)
fig.show(renderer="png")
```