# Notebook setting

In [1]:
import pandas as pd

In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

# Data Generation

In [5]:
data_string = pd.DataFrame({
    'G1__subgroup_1__A': [1, 2, 3],
    'G1__subgroup_1__B': [4, 5, 6],
    'G1__subgroup_1__C': [7, 8, 9],
    
    'G1__subgroup_2__D': [10, 11, 12],
    'G1__subgroup_2__E': [13, 14, 15],
    
    'G1__subgroup_3__F': [16, 17 ,18],
    'G1__subgroup_3__G': [19, 20, 21],
    
    
    'G2__subgroup_1__A': [22, 23, 24],
    'G2__subgroup_1__B': [25, 26, 27],
    
    'G2__subgroup_2__C': [28, 29, 30],
    'G2__subgroup_2__D': [31, 32, 33],
})

data

,G1__subgroup_1__A,G1__subgroup_1__B,G1__subgroup_1__C,G1__subgroup_2__D,G1__subgroup_2__E,G1__subgroup_3__F,G1__subgroup_3__G,G2__subgroup_1__A,G2__subgroup_1__B,G2__subgroup_2__C,G2__subgroup_2__D
0,1,4,7,10,13,16,19,22,25,28,31
1,2,5,8,11,14,17,20,23,26,29,32
2,3,6,9,12,15,18,21,24,27,30,33

# String cols to Multiindex

In [8]:
def string_to_multiindex(str_cols_list, sep='__'):
    splited = [col.split(sep) for col in str_cols_list]
    
    max_len = max(len(sublist) for sublist in splited)
    scaled = [tuple([*sublist, *['']*(max_len - len(sublist))]) for sublist in splited]
    
    return scaled

multiindex_cols = string_to_multiindex(data_string.columns)


data_multi = data_string.copy()
data_multi.columns = pd.MultiIndex.from_tuples(multiindex_cols)

data_multi

          G1                                             G2
  subgroup_1       subgroup_2     subgroup_3     subgroup_1     subgroup_2
           A  B  C          D   E          F   G          A   B          C   D
0          1  4  7         10  13         16  19         22  25         28  31
1          2  5  8         11  14         17  20         23  26         29  32
2          3  6  9         12  15         18  21         24  27         30  33