In [1]:
import numpy as np
import pandas as pd

In [2]:
from openpyxl import load_workbook
from openpyxl.utils import get_column_letter
from openpyxl import Workbook

### Выгрузка отформатированных датафреймов в разные листы

In [15]:
df1 = pd.DataFrame({
    'col1': ['A','B','C','D','E'],
    'col2': [1, 2, 3, 4, 5],
    'col3': [5, 4, 3, 2, 1]
})

df1_coldict = {key: value for value, key in enumerate(df1.columns)}
df1_widths = {col: len(col) + 8 for col in df1.columns}

df1 = (
    df1.style
        .format({col: "{}" for col in df1.columns})
        .background_gradient(subset=['col2','col3'], cmap='Greys')
)
df1

In [16]:
df2 = pd.DataFrame({
    'col1': ['a','b','c'],
    'col2': [5,1,50],
    'col3': [4,2,40],
    'col4': [3,3,30],
    'col5': [2,4,20],
    'col6': [1,5,10]
})

df2_coldict = {key: value for value, key in enumerate(df2.columns)}
df2_widths = {col: len(col) + 8 for col in df2.columns}

df2 = (
    df2.style
        .format({col: "{}" for col in df2.columns})
        .background_gradient(subset=['col2','col3','col4','col5','col6'], axis=1, cmap='Greens')
)

df2

In [17]:
writer = pd.ExcelWriter('data/result/ex.xlsx', engine='openpyxl')
book = Workbook()

book.remove(book['Sheet'])

In [ ]:
for sheetname, coldict, widths, df in zip(
    ['df1', 'df2'], 
    [df1_coldict, oper_performance_coldict, mean_delay_coldict], 
    [oper_load_widths, oper_performance_widths, mean_delay_widths], 
    [tmp_oper_load, tmp_oper_performance, tmp_mean_delay]):
    
    sheet = book.create_sheet(sheetname)
    print(sheet)
    
    for col in widths:
        sheet.column_dimensions[get_column_letter(coldict[col]+1)].width = widths[col]
    
    writer.book = book
    writer.sheets = dict((ws.title, ws) for ws in writer.book.worksheets)
    
    df.to_excel(writer, sheet_name = sheetname, index=False)


writer.save()