# Настройка ноутбука

In [4]:
import pandas as pd
import numpy as np
from sklearn import datasets
import datetime as dt

from pandasql import sqldf

In [5]:
import warnings
warnings.filterwarnings('ignore')

In [1]:
# Расширить рабочее поле ноутбука на весь экран
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

# Описание

В ноутбук занесены практики работы с оператором group by в языке SQL.

# Практики

## Агрегирование значений

Выделение максимального, минимального, среднего, ... значения из группы. Или самой **ранней, средней, поздей** записи.

```sql
select cat, max(val) from data group by cat
```

При этом в группировке можно использовать псевдоним из select-а (хотя это по идее противоречит порядку выполнения команд), или номер колонки начиная с 1.

```sql
select id as id_col, sum(val) from data group by id_col
select id, sum(val) from data group by 1
```

#### Примеры задач:

- [Stratascratch: Bikes Last Used - Easy](https://platform.stratascratch.com/coding/10176-bikes-last-used?code_type=1)
- [Stratascratch: Number Of Units Per Nationality - Medium](https://platform.stratascratch.com/coding/10156-number-of-units-per-nationality?code_type=1)
- [Stratascratch: Top Ranked Songs - Medium](https://platform.stratascratch.com/coding/9991-top-ranked-songs?code_type=1)
- [Stratascratch: Largest Olympics - Medium](https://platform.stratascratch.com/coding/9942-largest-olympics?code_type=1)
- [Stratascratch: Highest Cost Orders - Medium](https://platform.stratascratch.com/coding/9915-highest-cost-orders?code_type=1)

### Посчитать процент значений

Соотношение значений между двумя группами.
Функция count не учитывает значения NaN. Поэтому можно использовать left join с count для рассчета процента. 

```sql
select
      a.date
    , count(b.id)::float/count(a.id) as rate
from table_a a left join table_b b on a.id = b.id
group by a.date
order by a.date
```

#### Примеры задач:

- [InterviewQuery: Employee Salaries - Medium](https://www.interviewquery.com/questions/employee-salaries)
- [Stratascratch: Acceptance Rate By Date - Medium](https://platform.stratascratch.com/coding/10285-acceptance-rate-by-date?tabname=question)
- [Stratascratch: Popularity Percentage - Hard](https://platform.stratascratch.com/coding/10284-popularity-percentage?tabname=question)

### Выделить значения с определенными агрегатами

Например, выделить города, у которых средняя цена за недвижимость превышает среднюю цену по всей стране:

```sql
select city
from data
group by city
having avg(price) > (select avg(price) from data)

```

#### Примеры задач

- [Stratascratch: Cities With The Most Expensive Homes - Medium](https://platform.stratascratch.com/coding/10315-cities-with-the-most-expensive-homes?code_type=1)